extends ../layout

head
  script(type="text/javascript", src="js/jquery-1.10.2.min.js") 
  script(type="text/javascript", src="js/lightbox-2.6.min.js")
  link(type="text/css", src="css/lightbox.css") 


block content
  .page-header
    h2
      i.fa.fa-facebook-square(style='color: #335397')
      | Facebook API

  .btn-group.btn-group-justified
    a.btn.btn-success(href='https://github.com/cooltoast/webapp', target='_blank')
      i.fa.fa-code-fork
      | Source Code

    a.btn.btn-success(href='https://github.com/sahat/hackathon-starter', target='_blank')
      i.fa.fa-code-fork
      | Template Source Code  

    a.btn.btn-success(href='https://facebook.com/me', target='_blank')
      i.fa.fa-facebook
      | My Facebook  

  h2 My Info
  h4= me.name
  h6 Username: #{me.username}
  h6 Email: #{me.email}

  h2 My photos
  ul.list-unstyled
    for photo in photos
      li.fb-photo
        a(href='#{photo.source}', class = 'fancybox')
          img(src='#{photo.source}')
 

  
 
