extends ../layout

head
  script(type="text/javascript", src="js/jquery-1.10.2.min.js") 
  script(type="text/javascript", src="js/lightbox-2.6.min.js")
  link(type="text/css", src="css/lightbox.css") 


block content
  .page-header
    h2
      i.fa.fa-facebook-square(style='color: #335397')
      | Facebook API

  .btn-group.btn-group-justified
    a.btn.btn-success(href='https://developers.facebook.com/docs/graph-api/quickstart/', target='_blank')
      i.fa.fa-check-square-o
      | Quickstart
    a.btn.btn-success(href='https://developers.facebook.com/tools/explorer', target='_blank')
      i.fa.fa-facebook
      | Graph API Explorer
    a.btn.btn-success(href='https://developers.facebook.com/docs/graph-api/reference/', target='_blank')
      i.fa.fa-code-fork
      | API Reference

  h2 My Info
  h4= me.name
  h6 Username: #{me.username}
  h6 Email: #{me.email}

  h2 List of my photos
  ul.list-unstyled
    for photo in photos
      li.fb-photo
        a(href='#{photo.source}', class = 'fancybox')
          img(src='#{photo.source}')
 

  
 
